<!--
	Node to talk to Grovestreams - copyright (c) Peter Scargill
-->

<script type="text/x-red" data-template-name="grove">

     <div class="form-row">
		<label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
     </div>

	<div class="form-row">
		<label for="node-input-api"><i class="fa fa-tag"></i> API</label>
		<input type="text" id="node-input-api" placeholder="">
	</div>

	<div class="form-row">
		<label for="node-input-component"><i class="fa fa-tag"></i> component</label>
		<input type="text" id="node-input-component" placeholder="">
	</div>

	
	<div class="form-row">
		<label for="node-input-stream"><i class="fa fa-tag"></i> stream</label>
		<input type="text" id="node-input-stream" placeholder="">
	</div>


</script>

<script type="text/x-red" data-help-name="grove">
    <p>Send data in the form a=b&x=d to Grovestreams given an API and a component name and optional stream name (so no need for x=b&x=d - useful for single value inputs)</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('grove',{
        category: 'advanced-input',
        color:"#ff3399",
        defaults: {
		    name: {value:"Grovestreams"},
		    api: {value:""},
		    component: {value:""},
			stream: {value:""}
        },
        inputs:1,
        outputs:0,
        icon: "grove.png",
		align: "right",
        label: function() {
            return this.name||"grove";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
        oneditprepare: function() {

        }

    });
</script>
